<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<h1> Vegetarians Forever! </h1>
		</div>
		<img src="./assets/img/Tofu.png" alt="tofu" />
		<div class="col-md-6 text-center" class="task">
			<div class="row">
			  {{#each tofu_data}}
			  	{{#unless this.devoured}}
				<div class="col-md-9 text-center">
					<pre>{{this.id}}. {{this.tofu_name}}
					</pre>
				  		{{this.Date}}
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input class="tofu_id"  style="hidden" value={{this.id}}><br>
						<button type="submit" id="ca" class="btn btn-default">Devour it</button>
				
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>

		<div class="col-md-6 text-center" class="task">
		 <data-id="{{this.id}}">
			  {{#each tofu_data}}
			  	{{#if this.devoured}}
				  
			  		<div class="food" type="text"> {{this.tofu_name}}
				    <button onclick="{{this.id}}" id={{this.id}} class="btn-primary">Delete</button>
                    </div>
				{{/if}}
			  {{/each}}
			  </data-id>
		</div>
	</div>
</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/api/tofu/create" method="POST">
				<input type="text" class="form-control" name="tofu_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter the Vegetarian Item you want to deour. Then, Click the "Submit" button.</p>
		</div>
	</div>
</div>
<div>
